<div class="modal" id="myModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ajout d'une réservation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label class="form-label">Nom du réservataire</label>
                <div class="input-group mb-2">
                    <input class="form-control" id="reservingName" maxlength="50" />
                </div>
                <span id="error-span" class="text-danger"></span>
            </div>
            <div class="modal-footer">
                <button id="btnModalValid" type="button" class="btn btn-primary" onclick="validModal()">Valider</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>