@page "/Historique"
@using GestionPlacesParking.Core.Models.Locals
@model GestionPlacesParking.Web.UI.Customs.HistoriqueModel
@{
    Layout = "_AdminLayout";
}

<h1 class="display-6">Historique des places réservées</h1>

<form method="POST">
    <div class="form-group row mb-auto mt-3">
        <label class="col-md-1 mt-2">Mois</label>
        <div class="col-md-2">
            <select asp-for="HistoryLocal.Month" asp-items="Html.GetEnumSelectList<HistoryLocal.Months>()" class="form-select">
                <option value=""></option>
            </select>
        </div>
        <label class="col-md-1 mt-2">Trimestre</label>
        <div class="col-md-2">
            <select asp-for="HistoryLocal.Quarter" asp-items="Html.GetEnumSelectList<HistoryLocal.Quarters>()" class="form-select">
                <option value=""></option>
            </select>
        </div>
        <label class="col-md-1 mt-2">Année</label>
        <div class="col-md-2">
            <select class="form-select">
                <option value=""></option>
            </select>
        </div>
        <div class="col-md-3">
            <div class="btn btn-orange-apside">
                <i class="fa-solid fa-filter text-white"></i>
            </div>
        </div>
    </div>
</form>

