@page "/Profile"
@using GestionPlacesParking.Web.UI.CustomMethods
@model GestionPlacesParking.Web.UI.Pages.Customs.ProfileModel
@{
    Layout = CorrectLayoutCustomMethod.GetCorrectLayout(HttpContext);
}

<h1 class="display-6">Mon Profile</h1>